{% extends 'base.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}"  type="text/css">
{% block content %}
{% if validlink %}
    <div class="div_login">
        <h2>Recuperar Contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
            <label for="id_new_password1">Nueva contraseña:</label>
            {{ form.new_password1 }}
        
            {{ form.new_password2.errors }}
            <label for="id_new_password2">Confirme contraseña:</label>
            <br>
            
            {{ form.new_password2 }}
            <!-- <input type="submit" value="Cambiar mi contraseña"> -->
            <button type="submit" >Cambiar Contraseña</button>
        </form>
        <br>
    </div>
{% else %}
    <div class="div_login">
        <h2>Recuperar Contraseña</h2>
        <br>
        <h2>Error</h2>
        <h3>el enlace ya ha sido ocupado</h3>
        <br>
    </div>
{% endif %}
{% endblock %}