{% extends 'MainApp/base.html'%}
{% load static %}


{% block content %}

<div class="quienes">   
    <h2>¿Qué es Magicards?</h2>
    <p>Imagina que puedes buscar y dejar una bicicleta en el momento y el lugar que sean más convenientes para ti. Forma parte del mundo Magicards: un servicio de uso compartido de bicicletas que te permite realizar recorridos cortos por la ciudad, en cualquier momento, a cualquier destino que tenga un estacionamiento legal, y que combina la innovación y la tecnología actual de Internet de las cosas (IoT). Magicards es una opción ecológica, ayuda a descongestionar el tránsito y busca continuamente mejorar la calidad de vida en la ciudad.
    </p>

    <h2>Misión de Magicards</h2>
    <p>Magicards ofrece un medio de transporte accesible de uso compartido para realizar recorridos urbanos cortos de manera práctica. Al mismo tiempo, ayuda a descongestionar el tránsito y reducir las emisiones de carbono en la ciudad. Gracias a la combinación de estos objetivos, Magicards mejora la calidad de vida en la ciudad.

        ¡Buscamos a personas talentosas, apasionadas y trabajadoras que quieran formar parte de nuestro equipo! Si compartes nuestra pasión y nuestros valores, este es el lugar ideal para ti. Echa un vistazo a las vacantes en nuestra página de oportunidades de trabajo
    </p>
</div>

<div class="somos-mo">
    <div class="somos-cont">
        <h1>Somos Magicards</h1>
        <h4>Una opción ecológica y sustentable</h4>
    </div>
</div>

<div class="somos-2">

</div>


{% endblock %}