{% extends 'base.html' %}
{% block titulo_pagina %}COMICSH{% endblock %}
{% block titulo_principal %} Eliminar Producto {% endblock %}
{% block content %}
{% if user.is_superuser %}
<title>ELIMINAR PRODUCTO</title>
<div class="container" style="justify-content: center;">
    <div class="row">

        <div style="color: purple;" class="jumbotron-fluid">
            <form method="post">
                {% csrf_token %}

                <p class="delete-msg">¿Estás seguro de que quieres eliminar {{ object.nombre }}?</p>

                <a href="{% url 'listar_producto' %}" class="btn btn-secondary">NO</a>
                <button class="btn btn-primary" type="submit">Si</button>
            </form>
        </div>
    </div>
</div>

{% else %}
<br>
<br>
<br>
<h1 class="bg-danger"> ERROR:</h1>
    <h4 style="color:black" class="bg-warning">No Tienes los permisos para acceder a esta pagina.</h4>
<br>
<br>
<br>
{% endif %}
{% endblock %}