
.div_login{
    text-align: center;
    margin: 40px auto 0 auto;
    max-width: 400px;
    border: 1px solid rgb(255,70,17);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.123);
    margin-bottom: 30px;
    position: relative;
    border-top: 40px solid rgb(255,70,17);
    padding: 30px;
    background-color: white;
}

#btn_login_log{
    background-color: rgb(255,70,17);
    height: 40px;
    font-size: 20px;
    color: white;
    border: 1px solid  rgb(218, 62, 19);
    padding: 0 15px 0 15px;
}

#btn_login_log:hover{
    background-color:  rgb(153, 44, 14);
}

input{
    display: inline-block;
    box-sizing: border-box;
    margin: 5px 15px 5px 15px;
    width: 90%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(255,70,17);
    height: 30px;
}

label{
    float: left;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 22px;
    color:rgb(255, 255, 255);
    margin-top: -66px;
    margin-bottom: 30px;
}

a{
    font-size: 12px;
    color: blue;
}

