{% extends 'base.html'%}

{% load static %}
{% block title %} Acerca {% endblock%}    
{% block content %}
<link rel="stylesheet" href="{% static 'css/estilos.css' %}"  type="text/css">
<div class="div_login">
    <h2>Acerca de nuestra tienda Magicards Chile</h2>
    <p>Somos personas apasionadas por los juegos de estrategia. Somos aficionados a los juegos de cartas como Magic The Gathering, Yu-Gi-OH!, Pokémon TCG, Mitos y Leyendas TCG, entre otros. También nos gustan los juegos de mesa y el ROL, por eso hemos dedicado con mucha pasión promover y desarrollar estos juegos en toda la región.</p>
    <div class="item active">
        <img src="../static/img/Background/sobrenosotros_foto02.jpg"  >
    </div>
    <p>Creemos que los juegos de estrategia y los juegos de mesa en general, son una parte fundamental de nuestro crecimiento como seres humanos. Toda actividad que nos pone a pensar, que implica usar nuestras habilidades y conocimientos para decidir el mejor camino y la opción más inteligente, nos va educando de sobre cómo enfrentar el mundo que nos rodea.</p>
    <p>La mayoría de nuestros juegos han sido creados por matemáticos y personas que no se conforman con lo cotidiano, que van más allá, en la búsqueda de comprender que motiva y divierte a los seres humanos, al mismo tiempo que se desarrolla nuestro proceso de aprendizaje.</p>
    <p>Magicards es una compañía que cree en la imaginación como herramienta para construir una vida mejor, un mundo mejor. Y todos los productos que puedas encontrar en nuestras tiendas, reflejan dicha filosofía.</p>                                 
</div>

{% endblock %}