{% extends 'blog/base_index.html' %}
{% load static %}

        {% block title %} Acerca de {% endblock%}   
        
        {% block content %}
        
        <div>
            <div class="row">
                <div class="col-lg-6 contact-info">
                    <h1> ¿QUÉ ES MAGICARDS?</h1> 
                    <h1>Magicards vende Mazos, Cartas Magic y todo tipo de contenido relacionado con el tema</h1>                                     
                </div>
            </div>
            
        </div>
        {% endblock %} 
        
                 






