<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>AHORA ESTAMOS EN EL TEMPLATE</h1>

    <p>
        RECORDEMOS QUE EN PYTHON USAMOS UN DICCIONARIO 
        PARA PASARLE PARAMETROS AL TEMPLATE
    </p>
    <p style="font-family: 'Courier New', Courier, monospace;">
    contexto = {'posts': posts,<br>
    &nbsp;&nbsp;&nbsp;'la_query':sql_query,<br>
    &nbsp;&nbsp;&nbsp;'nombre_user':nombre_usuario,<br>
    &nbsp;&nbsp;&nbsp;'edad_user':edad_usuario,<br>
    &nbsp;&nbsp;&nbsp;'total_usuario':cant_usuario<br>
    }<br>
    </p>

    <div>
        <h3> El valor de nombre_user   es: {{ nombre_user}}   </h3>
        <h3> El valor de edad_user     es: {{ edad_user}}     </h3>
        <h3> El valor de total_usuario es: {{ total_usuario}} </h3>
        <h3> LA QUERY QUE FUE EJECUTADA ES:</h3>
        <p style="font-family: 'Courier New', Courier, monospace;"> 
            {{la_query}} 
        </p>
    </div>


    {% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text }}</p>
        <p> publicado: {{ post.published_date }}</p>
    </div>
    {% endfor %}
</body>



</html>